@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  :root {
    --background: 0 0% 96.0784%;
    --foreground: 0 0% 20%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 20%;
    --primary: 143.1081 69.1589% 58.0392%;
    --primary-foreground: 0 0% 100%;
    --secondary: 20 14.2857% 95.8824%;
    --secondary-foreground: 10 4.3478% 27.0588%;
    --muted: 0 20% 98.0392%;
    --muted-foreground: 0 0% 41.9608%;
    --accent: 143.6842 70.3704% 78.8235%;
    --accent-foreground: 0 0% 18.0392%;
    --destructive: 156.8421 84.2365% 60.1961%;
    --destructive-foreground: 0 0% 100%;
    --border: 20 13.0435% 90.9804%;
    --input: 20 13.0435% 90.9804%;
    --ring: 14.1176 91.2195% 59.8039%;
    --chart-1: 14.1176 91.2195% 59.8039%;
    --chart-2: 18.1818 83.1933% 53.3333%;
    --chart-3: 21.1765 76.3265% 48.0392%;
    --chart-4: 22.7586 70.7317% 40.1961%;
    --chart-5: 21.6667 64.2857% 32.9412%;
    --sidebar: 0 20% 98.0392%;
    --sidebar-foreground: 0 0% 20%;
    --sidebar-primary: 14.1176 91.2195% 59.8039%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 2 93.75% 93.7255%;
    --sidebar-accent-foreground: 21.6667 64.2857% 32.9412%;
    --sidebar-border: 20 13.0435% 90.9804%;
    --sidebar-ring: 14.1176 91.2195% 59.8039%;
    --font-sans: Inter, sans-serif;
    --font-serif: Source Serif 4, serif;
    --font-mono: "Red Hat Mono", monospace;
    --radius: 0.375rem;
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  }

  .dark {
    --background: 0 0% 9.0196%;
    --foreground: 0 0% 89.8039%;
    --card: 0 0% 14.902%;
    --card-foreground: 0 0% 89.8039%;
    --popover: 0 0% 14.902%;
    --popover-foreground: 0 0% 89.8039%;
    --primary: 14.1176 91.2195% 59.8039%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 14.902%;
    --secondary-foreground: 0 0% 89.8039%;
    --muted: 0 0% 14.902%;
    --muted-foreground: 0 0% 63.9216%;
    --accent: 21.9643 100% 43.9216%;
    --accent-foreground: 10.4762 96.9231% 87.2549%;
    --destructive: 156.8421 84.2365% 60.1961%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 25.098%;
    --input: 0 0% 25.098%;
    --ring: 24 100% 46.0784%;
    --chart-1: 10.1299 93.9024% 67.8431%;
    --chart-2: 14.1176 91.2195% 59.8039%;
    --chart-3: 18.1818 83.1933% 53.3333%;
    --chart-4: 21.1765 76.3265% 48.0392%;
    --chart-5: 22.7586 70.7317% 40.1961%;
    --sidebar: 0 0% 9.0196%;
    --sidebar-foreground: 0 0% 89.8039%;
    --sidebar-primary: 14.1176 91.2195% 59.8039%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 34.902%;
    --sidebar-accent-foreground: 9.9387 100% 68.0392%;
    --sidebar-border: 0 0% 25.098%;
    --sidebar-ring: 14.1176 91.2195% 59.8039%;
    --font-sans: Inter, sans-serif;
    --font-serif: Source Serif 4, serif;
    --font-mono: "Red Hat Mono", monospace;
    --radius: 0.375rem;
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }
}

.font-mono {
  font-family: var(--font-mono);
}
